nav {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  border-bottom: 0.01em solid #F9C36A;
}

nav button {
  width: 7em;
  height: 3em;
  border-radius: 1em;
  font-size: 1em;
  margin: 0em 1em 1em 1em;
  color: #04054E;
  background-color: #F9C36A;
}
