.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 40em;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
